<template>
  <div class="dashboard">
    <h1>{{ $t('dashboard.title') }}</h1>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'DashboardPage',

  components: {
    //
  },
})
</script>
