<template>
  <AppBar @click="newDeck()" :equal="equal" :round="round" />
  <template v-if="inGame">
    <v-container fluid class="fill-height">
      <div class="dashboard fill-height">
        <div class="d-flex flex-row fill-height justify-center align-center-lg">
          <div class="deck overflow-hidden">
            <v-row no-gutters>
              <div v-for="(card, index) in deck" :key="index" class="card-container">
                <Card @on-click="onClickHandler" v-model:turned-over="card.turnedOver" :card="card" :index="index" />
              </div>
            </v-row>
          </div>
        </div>
      </div>
    </v-container>
  </template>
  <template v-else>
    <Score @click="newDeck()" :equal="equal" :round="round" />
  </template>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Card from '@/modules/dashboard/components/Card.vue'
import Score from '@/modules/dashboard/components/Score.vue'
import DeckService, { Card as CardType } from '@/services/DeckService'
import store from '@/store'
import AppBar from '@/modules/dashboard/components/AppBar.vue'

export default defineComponent({
  name: 'DashboardPage',
  data() {
    const data: {
      deck: CardType[]
      lock: boolean
      inGame: boolean
    } = {
      deck: [],
      lock: false,
      inGame: true,
    }
    return data
  },
  components: {
    AppBar,
    Card,
    Score,
  },
  mounted() {
    this.newDeck()
  },
  computed: {
    equal(): number {
      return store.getters.countEqual
    },
    round(): number {
      return store.getters.getRound
    },
    first(): CardType | null {
      return store.getters.getFirst
    },
    isFirst(): boolean {
      return !store.getters.getFirst
    },
    second(): CardType | null {
      return store.getters.getSecond
    },
    isSecond(): boolean {
      return !store.getters.getSecond
    },
  },
  methods: {
    onClickHandler(card: CardType): void {
      if (!this.lock) {
        if (this.first !== null && this.first.index === card.index) {
          return
        }
        this.toggleUpsideDown(card)
        this.roundHandler(card)
      }
    },
    roundHandler(card: CardType): void {
      this.addCard(card)
      if (this.first && this.second) {
        this.lock = true
        const result: boolean = this.compareCards(this.first, this.second)
        this.addToHistory(result)
        store.commit('NEXT_ROUND')
        setTimeout(() => {
          if (result) {
            this.hideCards()
          } else {
            this.turnBack()
          }
          if (this.equal < 10) {
            store.commit('RESET_ROUND')
            this.lock = false
          } else {
            this.finishGame()
          }
        }, 2000)
      }
    },
    finishGame(): void {
      this.inGame = false
    },
    newDeck(): void {
      store.commit('RESET_HISTORY')
      this.deck = new DeckService().getNewDeck() as CardType[]
      this.inGame = true
    },
    addToHistory(result: boolean): void {
      store.commit('ADD_TO_HISTORY', {
        round: this.round,
        equal: result,
        first: this.first,
        second: this.second,
      })
    },
    hideCards(): void {
      this.hideFirstCard()
      this.hideSecondCard()
    },
    hideFirstCard(): void {
      if (this.first) {
        this.deck[this.first.index].show = false
      }
    },
    hideSecondCard(): void {
      if (this.second) {
        this.deck[this.second.index].show = false
      }
    },
    turnBack(): void {
      this.turnBackFirstCard()
      this.turnBackSecondCard()
    },
    turnBackFirstCard(): void {
      if (this.first) {
        this.deck[this.first.index].turnedOver = !this.deck[this.first.index].turnedOver
      }
    },
    turnBackSecondCard(): void {
      if (this.second) {
        this.deck[this.second.index].turnedOver = !this.deck[this.second.index].turnedOver
      }
    },
    compareCards(first: CardType, second: CardType): boolean {
      return first.num === second.num
    },
    addCard(card: CardType): void {
      if (this.isFirst) {
        store.commit('SET_FIRST', card)
      } else if (!this.isFirst && this.isSecond) {
        store.commit('SET_SECOND', card)
      }
    },
    toggleUpsideDown(card: CardType): void {
      this.deck[card.index].turnedOver = !this.deck[card.index].turnedOver
    },
  },
})
</script>

<style lang="sass">
.deck
  min-width: 320px
  width: 100%

.deck div.card-container
  box-sizing: border-box
  padding: 10px

@media (orientation: landscape)
  .deck
    max-width: 1200px

  .deck div.card-container
    width: 20%
    height: 25%

@media (orientation: portrait)
  .deck
    max-width: 700px

  .deck div.card-container
    width: 25%
    height: 20%

  .deck div.card-1
    order: 4
  .deck div.card-2
    order: 8
  .deck div.card-3
    order: 12
  .deck div.card-4
    order: 16
  .deck div.card-5
    order: 20
  .deck div.card-6
    order: 3
  .deck div.card-7
    order: 7
  .deck div.card-8
    order: 11
  .deck div.card-9
    order: 15
  .deck div.card-10
    order: 19
  .deck div.card-11
    order: 2
  .deck div.card-12
    order: 6
  .deck div.card-13
    order: 10
  .deck div.card-14
    order: 14
  .deck div.card-15
    order: 18
  .deck div.card-16
    order: 1
  .deck div.card-17
    order: 5
  .deck div.card-18
    order: 9
  .deck div.card-19
    order: 13
  .deck div.card-20
    order: 17

@media (max-width: 490px)
  .deck div.card
    padding: 0
</style>
