<template>
  <div class="dashboard">
    <h1>/views/pages/DashboardPage.vue:{{ $t('dashboard.title') }}</h1>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'DashboardPage',
  props: ['component'],
})
</script>
