<template>
  <v-app-bar app color="primary">
    <template v-slot:prepend> Content </template>
  </v-app-bar>

  <v-main>
    <v-container fluid>
      <router-view></router-view>
    </v-container>
  </v-main>

  <v-footer>
    <!-- -->
  </v-footer>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'DefaultLayout',
  components: {},
  data() {
    return {}
  },
})
</script>

<style lang="sass"></style>
