<template>
  <v-app-bar app color="primary" class="app-bar">
    <v-container fluid>
      <v-row class="d-flex flex-row justify-space-between align-center">
        <v-col sm="4" md="4"
          ><h1>
            M<span class="hidden-xs hidden-sm">emory</span><span class="hidden-xs hidden-sm">&nbsp;</span>G<span
              class="hidden-xs hidden-sm"
              >ame</span
            >
          </h1></v-col
        >
        <v-col sm="4" md="6" class="text-center text-h5"
          ><span
            >Score: <strong>{{ equal }}/{{ round - 1 }}</strong></span
          ></v-col
        >
        <v-col sm="4" md="2" class="text-right"><v-btn @click="onClickHandler()">New Game</v-btn></v-col>
      </v-row>
    </v-container>
  </v-app-bar>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'AppBar',
  props: ['equal', 'round'],
  methods: {
    onClickHandler: function () {
      this.$emit('onClick')
    },
  },
})
</script>

<style scoped lang="sass">
.app-bar
 min-width: 320px
</style>
