<template>
  <div @click="onClickHandler(card)" :class="[`flip-card card card-${this.index + 1}`, { 'turned-over': turnedOver }]">
    <div :class="['flip-card-inner', card.show ? '' : 'hide-card']">
      <div class="flip-card-content">
        <v-img v-show="card.show" :src="this.card.src">
          <template v-slot:placeholder>
            <v-row class="fill-height ma-0" align="center" justify="center">
              <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
            </v-row>
          </template>
        </v-img>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import Card from '@/services/DeckService'

export default defineComponent({
  name: 'Card',
  props: {
    card: Card,
    index: Number,
    turnedOver: { type: Boolean, default: false },
  },
  methods: {
    onClickHandler: function (card) {
      this.$emit('onClick', { ...card, ...{ index: this.index } })
    },
  },
})
</script>

<style scoped lang="sass">
.flip-card
  width: 100%
  height: 100%
  perspective: 1000px

.flip-card-inner
  position: relative
  width: 100%
  height: 100%
  transition: transform 0.8s
  transform-style: preserve-3d
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
  border-radius: 10px
  background-color: #ffffff

  &.hide-card
    background-color: transparent
    box-shadow: none
    .flip-card-content
      background-color: transparent

.flip-card.turned-over .flip-card-inner
  transform: rotateY(180deg)

.flip-card-content
  width: 100%
  height: 100%
  -webkit-backface-visibility: hidden
  backface-visibility: hidden
  background-color: #ffffff
  transform: rotateY(180deg)
  border-radius: 10px
</style>
