<template>
  <div class="text-center mt-16">
    <div><h1>Game Over</h1></div>
    <div>
      <p>
        Score: <strong>{{ equal }}/{{ round - 1 }}</strong>
      </p>
    </div>
    <div class="mt-5"><v-btn @click="onClickHandler()">New Game</v-btn></div>
  </div>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Score',
  props: ['equal', 'round'],
  methods: {
    onClickHandler: function () {
      this.$emit('onClick')
    },
  },
})
</script>

<style scoped></style>
