<template>
  <v-main class="fill-height">
    <router-view></router-view>
  </v-main>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'DefaultLayout',
})
</script>

<style lang="sass"></style>
